<div id="close-check-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Gostaria mesmo de fechar sua conta, <b><%= @user.name %></b>?</h4>
      </div>
      <div class="modal-body">
        <h5>Aqui está o resumo dos seus pedidos:</h5>

        <div style="height: 250px; overflow-y: scroll;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Qnt.</th>
                <th>Unidade</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% check.orders.each do |order| %>
                <tr>
                  <td><%= order.item.name %></td>
                  <td><%= order.active ? order.quantity : 0 %></td>
                  <td><%= order.item.format_price %></td>
                  <td><b><%= order.active ? order.formatted_final_price : format_price(0) %></b></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <br>
        <p><h4><b>Preço total</b>: <%= check.formatted_total_price %></h4></p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Fechar conta', close_check_path(check), class: 'btn btn-primary' %>

        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>