  <h2>
    Aqui estão seus pedidos, <i><b><%= @user.name %></b></i>.
    <br>
    <small>Clique no seu pedido para alterá-lo.</small>
  </h2>

  <h3>
    Você está na mesa <i><%= @check.table.number %></i>.
  </h3>

  <br>
  <% unless @orders.empty? %>
    <br>

    <div class="row">
      <div class="col-md-6 col-xs-6">
        <%= link_to 'Fazer um pedido', new_user_order_path, class: 'btn btn-lg btn-primary' %>
      </div>

      <div class="col-md-6 col-xs-6">
        <button type="button"
              data-toggle="modal"
              data-target="#close-check-modal"
              class="btn btn-lg btn-default">
          Fechar conta
        </button>
      </div>
    </div>

    <%= render 'close_check_modal', check: @check  %>

    <br>
    <br>

    <div class="list-group">
      <% @orders.each do |order| %>
        <button type="button"
                data-toggle="modal"
                data-target="#edit-order-modal-<%= order.id %>"
                class="list-group-item">
          <h4 class="list-group-item-heading" style="padding-bottom: 5px">
            <%= order.item.name %>
            <% if !order.active? %>
              <span class="label label-lg label-danger pull-right">Cancelado</span>
            <% else %>
              <% if order.ready? %>
                <span class="label label-lg label-success pull-right">Pedido pronto!</span>
              <% else %>
                <span class="label label-lg label-info pull-right">Preparando...</span>
              <% end %>
            <% end %>
          </h4>
          <p class="list-group-item-text"><b>Pedido feito em</b>: <%= order.ordered_at %></p>
          <p class="list-group-item-text"><b>Quantidade</b>: <%= order.quantity %></p>
          <p class="list-group-item-text"><b>Observações</b>: <%= order.content %></p>
          <% if order.active? %>
            <p class="list-group-item-text pull-left" style="padding-top: 20px">
              <%= link_to 'Cancelar pedido', user_order_path(@user, order), method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-sm btn-danger' %>
            </p>
          <% end %>
        </button>
      <% end %>
    </div>

    <% @orders.each do |order| %>
        <%= render 'update_order_modal', item: order.item, order: order, url: user_order_path(@user, order) %>
    <% end %>
  <% else %>
    <h4> Nenhum pedido realizado ainda. Faça agora mesmo o seu pedido! </h4>
    <div>
      <%= link_to 'Fazer um pedido', new_user_order_path, class: 'btn btn-lg btn-primary' %>
    </div>
  <% end %>
