<h2>Cardápio <br><small>Clique no produto para realizar um pedido.</small></h2>

<br>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <h4>
      <a data-toggle="collapse" data-target="#narguiles-list" href="javascript:void">
        Narguiles
      </a>
    </h4>
  </div>
</div>

<div id="narguiles-list" class="collapse">
  <% unless @narguiles.empty? %>
    <%= render 'order_items', items: @narguiles, order: @order %>
  <% else %>
    <h4> Nenhum narguile cadastrado ainda. </h4>
  <% end %>
</div>

<br>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <h4>
      <a data-toggle="collapse" data-target="#drinks-list" href="javascript:void">
        Bebidas
      </a>
    </h4>
  </div>
</div>

<div id="drinks-list" class="collapse">
  <% unless @drinks.empty? %>
    <%= render 'order_items', items: @drinks, order: @order %>
  <% else %>
    <h4> Nenhuma bebida cadastrada ainda. </h4>
  <% end %>
</div>

<br>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <h4>
      <a data-toggle="collapse" data-target="#snacks-list" href="javascript:void">
        Petiscos
      </a>
    </h4>
  </div>
</div>

<div id="snacks-list" class="collapse">
  <% unless @snacks.empty? %>
    <%= render 'order_items', items: @snacks, order: @order %>
  <% else %>
    <h4> Nenhum petisco cadastrado ainda. </h4>
  <% end %>
</div>

<br>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <h4>
      <a data-toggle="collapse" data-target="#foods-list" href="javascript:void">
        Comidas
      </a>
    </h4>
  </div>
</div>

<div id="foods-list" class="collapse">
  <% unless @foods.empty? %>
    <%= render 'order_items', items: @foods, order: @order %>
  <% else %>
    <h4> Nenhuma comida cadastrada ainda. </h4>
  <% end %>
</div>

<% @drinks.each do |drink| %>
    <%= render 'order_modal', item: drink, order: @order, url: user_orders_path %>
<% end %>

<% @foods.each do |food| %>
    <%= render 'order_modal', item: food, order: @order, url: user_orders_path %>
<% end %>

<% @snacks.each do |snack| %>
    <%= render 'order_modal', item: snack, order: @order, url: user_orders_path %>
<% end %>

<% @narguiles.each do |narguile| %>
    <%= render 'order_modal', item: narguile, order: @order, url: user_orders_path %>
<% end %>

<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Meus pedidos', user_orders_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</div>