<%= form_with(model: table, local: true) do |form| %>
  <% if table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label 'Número da mesa' %>
    <%= form.number_field :number, id: :table_number, class: 'form-control' %>
  </div>

  <%= form.submit 'Cadastrar', class: 'btn btn-lg btn-block btn-primary' %>
<% end %>
